<div id="footer">

<div class="nav nav-inline">
	gallical.lol est un petit projet fomenté pour le <a href="http://gallica.bnf.fr/blog/23112016/hackathon-bnf-edition-2016-lheure-du-bilan">hackathon 2016</a> de la <a href="http://bnf.fr">BnF</a> /
	<a href="https://creativecommons.org/licenses/by-nc/4.0/">creative commons by-nc</a>
	 / <a href="http://twitter.com/gallicalol">@gallicalol</a>
	 / <a href="http://github.com/hackathonbnf/gallicalol">code</a>
	 / <a href="http://gallica.bnf.fr">gallica</a>
</div>


</div>
