{% extends "layout.twig" %}

{% block content %}
  <form id="search" method="get" action="/">
    <div class="row form-group">
      <div class="col-xs-12">
        <div class="input-group">
          <input type="text" id="query" name="q" class="form-control" maxlength="64" placeholder="Chercher une image" value="{{ query }}">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">chercher</button>
          </span>
        </div>
      </div>
    </div>
  </form>

<div class="row">

  <div id="messages">
    <div id="no-results" class="">
      <div>Aucune image trouvée</div>
      <img src="/static/images/search-fail.gif" alt="" loop="1" />
    </div>
  </div>

  <div id="results" class="grid">
  </div>

  <div id="loading" class="">
    <img src="/static/images/loading.gif" alt="" />
  </div>

  <nav class="" id="pagination">
    <div class="" id="page">1</div>
    <div class="" id="total"></div>
    <div class="" id="next"><a href="#">afficher plus d'images</a></div>
  </nav>
</div>
{% endblock %}
