{% extends "layout.twig" %}

{% block content %}
{% include "pagination.twig" %}
<div class="row">
  {% for meme in memes %}
  <div class="col-xs-12 col-sm-6 col-md-3">
    <p>
      <a href="/memes/{{ meme.id }}">
        <img class="img-fluid img-thumbnail" src="{{ meme.image_url }}" />
      </a>
    <p>
  </div>
  {% endfor %}
</div>
{% include "pagination.twig" %}
{% endblock %}