{% extends "layout.twig" %}

{% block content %}
<div class="row">
  <div>
    <div id="memes" class="grid">
      {% for meme in memes %}
      <div class="grid-item"><a href="/memes/{{ meme.id }}"><img src="{{ meme.image }}" /></a></div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ parent() }}
<script>
(function() {
  $("#memes").masonry({ itemSelector: '.grid-item', columnWidth: 285 });
})();
</script>
{% endblock %}