<div class="container lol">
  <nav class="navbar navbar-light">
      <div class="col-xs-12">
        <div class="nav navbar-inline float-xs-right">
          <a class="nav-link nav-item" href="/memes">
        liste
          </a>
          <a class="browse nav-link nav-item" href="/">
            <i class="fa fa-search" aria-hidden="true"></i> chercher
          </a>
        </div>
      </div>
    </nav>
</div>

<div class="container lol">
  <nav class="navbar navbar-light">
      <div class="col-xs-12, col-sm-4"><a class="navbar-brand" href="/">gallica.lol</a></div>
      <div class="col-xs-12; col-sm-8">{% if display_search is defined and display_search %}{% include "search.twig" %} {% endif %}</div>
  </nav>
</div>