<div class="container">
  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="/">gallical.lol</a>
    <div class="nav navbar-inline float-xs-right">
      <a class="browse nav-link nav-item" href="/">
        <i class="fa fa-search" aria-hidden="true"></i> chercher
      </a>
    </div>
  </nav>
</div>