<div class="container">
  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="/">gallica.lol</a>
    <div class="nav navbar-nav">
      <a class="nav-link nav-item" href="/memes">
        voir tous les mèmes
      </a>
    </div>
    {% include "search.twig" %}
  </nav>
</div>