<div class="container">
  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="/">gallica.lol</a>
    <div class="nav navbar-nav float-xs-right">
      <a class="nav-link nav-item" href="/memes">
        liste
      </a>
      <a class="browse nav-link nav-item" href="/">
        <i class="fa fa-search" aria-hidden="true"></i> chercher
      </a>
    </div>
  </nav>
</div>
