<!DOCTYPE html>
<html>
<head>
	<title></title>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="/static/styles/main.css">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>

</head>
<body>

<div class="container">


<nav class="navbar navbar-light">

	<a class="navbar-brand" href="#">gallical.lol</a>


 	<div class="nav navbar-inline float-xs-right">
		<a class="browse nav-link" href="#">chercher</a>
		<a class="create nav-link" href="#">créer</a>
	</div>
</nav>

<div class="row">

<div class="image col-lg-8">
	
<img src="http://i.dailymail.co.uk/i/pix/2014/11/17/233DE5A900000578-2838167-Dressed_to_impress_Every_day_she_selects_a_mustache_from_her_col-100_1416251076108.jpg" />

</div>

<div class="caption col-lg-4">
<h3>première partie</h3>

<textarea></textarea>

<h3>seconde partie</h3>

<textarea></textarea>

<div class="actions">
	
	<button class="btn btn-success">télécharger</button>
	<button class="btn btn-info">twitter</button>

</div>

</div>

</div> <!-- big row -->
</div>

</body>
</html>