body {
	position: relative;
}

.navbar-brand {
	font-family: 'Open Sans', sans-serif;
	/*font-size: 32;*/
	font-weight: 800;
	margin-right: 11rem;
	/*text-transform: uppercase;*/
}

.nav .btn {padding: .32rem .5rem;}

.nav .create { margin-left: 15px; }

.image {
	text-align: center;
}

.caption label {
	font-size: 12px;
	margin-top : 10px;
	margin-bottom: 2px;
}

.caption textarea {
	width : 100%;
	height: 200px;
	font-size: 24px;
}
.grid-sizer, .grid-item { width: 24.5%;}



.grid-item img {
	width:100%;
	-moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    -moz-opacity: 0.7;
    -webkit-opacity: 0.7;
    opacity: 0.7;
}
.actions { margin-top: 20px; }
.actions button { width : 100%; margin-bottom : 10px;}

.grid-item{
	z-index: 2;
}
.grid-item:hover{
	z-index: 3;
}
.grid-item:hover img {
    -moz-transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    -moz-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
}

@media screen and (max-width: 1000px) {
  /* 5 columns for larger screens */
  .grid-sizer, .grid-item  { width: 32.5%; }
}

@media screen and (max-width: 768px) {
  /* 5 columns for larger screens */
  .grid-sizer, .grid-item  { width: 49.5%; }
  .grid-item:hover img {
    -moz-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
	}
}
@media screen and (max-width: 520px) {
  /* 5 columns for larger screens */
  .grid-sizer, .grid-item  { width: 99%; }
  .grid-item:hover img {
    -moz-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
	}
	.container {
    margin-left: 15px;
    margin-right: 15px;
	}
}

#canvas {
	border: 1px dashed lightgrey;
}

#canvas.drag {
	cursor: url(https://ssl.gstatic.com/ui/v1/icons/mail/images/2/openhand.cur), default !important;
}

#canvas img {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}

#messages {
	padding : 20px 0;
	text-align: center;
	display: none;
}

#messages > div > div {
	display: block;
	margin-top : 0;
	margin-bottom : 10px;
}

#loading {
	display: none;
	text-align: center;
	padding : 30px 0;
}

#pagination { text-align : center; display: none; }
#pagination #page { display : none; }
#pagination #total { display : none; }

#footer {
	margin-top: 50px;
	margin-bottom: 20px;

	text-align: center;
	font-size: 12px;
}

#footer a {
	color: #adadad;
}

#footer a:hover {
	color: #474747;
}
