body {
	position: relative;
}

#canvas.drag {
	border:2px solid red;

}

.navbar-brand {
	font-family: 'Open Sans', sans-serif;
	/*font-size: 32;*/
	font-weight: 800;
	/*text-transform: uppercase;*/
}

.nav .create { margin-left: 15px; }

.image {
	text-align: center;
}

.caption label {
	font-size: 12px;
	margin-top : 10px;
	margin-bottom: 2px;
}

.caption textarea {
	width : 100%;
	height: 200px;
	font-size: 24px;
}
.grid-sizer,
.grid-item { padding: 5px; width: 20%; }
.grid-item img {
    width: 100%;
    height: auto;
	-moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -moz-opacity: 0.8;
    -webkit-opacity: 0.8;
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .grid-sizer,
    .grid-item { padding: 5px; width: 50%; }
}

.actions { margin-top: 20px; }
.actions button { width : 100%; margin-bottom : 10px;}

.grid-item:hover {
	z-index: 2;
}
.grid-item:hover img {
    -moz-transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    -moz-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
}

#canvas {
	border: 1px dashed lightgrey;
}

/* @link http://stackoverflow.com/questions/31207650/crossbrowser-grab-cursor-moz-webkit */
#canvas:hover {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

#canvas.drag {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

#messages {
	padding : 20px 0;
	text-align: center;
	display: none;
}

#messages > div > div {
	display: block;
	margin-top : 0;
	margin-bottom : 10px;
}

#loading {
	display: none;
	text-align: center;
	padding : 30px 0;
}

#pagination { text-align : center; display: none; }
#pagination #page { display : none; }
#pagination #total { display : none; }

#footer {
	margin-top: 50px;
	margin-bottom: 20px;

	text-align: center;
	font-size: 12px;
}

#footer a {
	color: #adadad;
}

#footer a:hover {
	color: #474747;
}

#scale {
    width: 50%;
}
