.navbar-brand {
	font-family: 'Open Sans', sans-serif;
	/*font-size: 32;*/
	font-weight: 800;
	/*text-transform: uppercase;*/
}

div.nav {
	line-height: 48px;
}


.container {
	margin-bottom: 50px;
}

.image {
	text-align: center;
}

.caption h3 {
	font-size: 12px;
}

.caption textarea {
	width : 100%;
	height: 200px;
	font-size: 24px;
}

.actions { margin-top: 20px; }
.actions button { width : 100%; margin-bottom : 10px;}

#canvas {
	border: 1px dashed lightgrey;
}

#search input { width: 100%; }
#search button { width: 100%; }

#footer {
	margin-top: 50px;
	margin-bottom: 20px;

	text-align: center;
	font-size: 12px;
}

#footer a {
	color: #adadad;
}

#footer a:hover {
	color: #474747;
}